@import "tailwindcss";

:root {
  --font-family: var(--font-family);
  --font-second: var(--font-second);
  --font-third: var(--font-third);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

  --font-family: var(--font-family);
  --font-second: var(--font-second);
  --font-third: var(--font-third);
  
}

@media (prefers-color-scheme: dark) {
 
  :root {
    --background: #efeff2;
    --foreground: #303030;
  }
}

body {
    /* font-family: var(--font-family), sans-serif; */
  @apply text-[var(--foreground)] font-family bg-[var(--background)] w-screen max-w-[1920px] mx-auto;
}

.section {
  @apply w-full px-5 md:px-8 lg:px-[84px] max-w-[1920px] mx-auto;
}